<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.css" />
</head>
<body ng-app="murphy">
	<header>
		<nav class="navbar navbar-default">
			<div class="container container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">Murphy</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">

						<!--<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li class="divider"></li>
								<li><a href="#">Separated link</a></li>
								<li class="divider"></li>
								<li><a href="#">One more separated link</a></li>
							</ul>
						</li> -->
						<!-- <li><a href="#">Create <span class="sr-only">(current)</span></a></li> -->
						<li><a href="create.html">Create</a></li>
						<li><a href="history.html">History</a></li>
					</ul>
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search ROTA for ...">
						</div>
						<button type="submit" class="btn btn-default">Search</button>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">About</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
<div class="container">
	<div class="">
		<h2>Create</h2>
	</div>
	<div>
		<ul class="nav nav-tabs">
		  <li class="active">
				<a href="#rota" data-toggle="tab" aria-expanded="false">ROTA</a>
			</li>
			<li class="">
				<a href="#person" data-toggle="tab" aria-expanded="false">Person</a>
			</li>
			<li class="">
				<a href="#role" data-toggle="tab" aria-expanded="false">Role</a>
			</li>
			<li class="">
				<a href="#location" data-toggle="tab" aria-expanded="false">Location</a>
			</li>
			<li class="">
				<a href="#shift" data-toggle="tab" aria-expanded="false">Shift</a>
			</li>

		  <!-- <li class="active"><a href="#profile" data-toggle="tab" aria-expanded="true">Profile</a></li>
		  <li class="dropdown">
		    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
		      Dropdown <span class="caret"></span>
		    </a>
		    <ul class="dropdown-menu">
		      <li><a href="#dropdown1" data-toggle="tab">Action</a></li>
		      <li class="divider"></li>
		      <li><a href="#dropdown2" data-toggle="tab">Another action</a></li>
		    </ul>
		  </li> -->
		</ul>
		<div id="myTabContent" class="tab-content">
			<div class="row well tab-pane fade active in" id="rota" ng-controller="RotaController as rotaController">
				<div ng-init="rotaController.initialize('create')">
					<form class="form-horizontal">
					  <fieldset>
					    <legend ng-if="!rotaController.editmode">Add ROTA</legend>
					    <legend ng-if="rotaController.editmode">Update ROTA</legend>
					    <div class="col-xs-12 col-sm-6 form-group">
					      <label for="rotaName" class="col-lg-3 control-label">ROTA Name</label>
					      <div class="col-lg-9">
					        <input type="text" class="form-control" id="rotaName" placeholder="e.g. Monthly Rota : April 2015"
				        	ng-model="rotaController.rotaDetail.rota_name">
					      </div>
					    </div>
							<div class="col-xs-12 col-sm-6 form-group">
					      <label for="rotaDesc" class="col-lg-3 control-label">Description</label>
					      <div class="col-lg-9">
					        <textarea class="form-control" rows="1" id="rotaDesc" ng-model="rotaController.rotaDetail.rota_desc" placeholder="starts from ..."></textarea>
					      </div>
					    </div>
							<div class="col-xs-12 form-group" ng-repeat="row in rotaController.rotaDetail.rows">
					      <div class="col-xs-3">
					      	<!--
					      	<select class="form-control" id="rotaPerson" ng-model="row.person_id" ng-options="person.name as person.first_name + ' ' + person.last_name for person in rotaController.rotaAutofill.persons">
					      		<option value="">Add person</option>
					      	</select>-->
					        
					        <select class="form-control" id="rotaPerson_{{$index}}" ng-model="row.person_id">
					        	<option value="">Add person</option>
					        	<option ng-repeat="person in rotaController.rotaAutofill.persons" value="{{person.person_id}}" ng-bind="person.first_name + ' '+ person.last_name" ng-selected="row.person_id==person.person_id"></option>
					        </select>
					        
					      </div>
					      <div class="col-xs-3">
					        <select class="form-control" id="rotaRole" ng-model="row.role_id">
					        	<option value="">Add role</option>
					        	<option ng-repeat="role in rotaController.rotaAutofill.roles" value="{{role.role_id}}" ng-bind="role.role_name" ng-selected="row.role_id==role.role_id"></option>
					        </select>
					      </div>
					      <div class="col-xs-3">
					        <select class="form-control" id="rotaLocation" ng-model="row.location_id">
					        	<option value="">Add location</option>
					        	<option ng-repeat="location in rotaController.rotaAutofill.locations" value="{{location.location_id}}" ng-bind="location.location_name" ng-selected="row.location_id==location.location_id"></option>
					        </select>
					      </div>
					      <div class="col-xs-3">
					        <select class="form-control" id="rotaShift" ng-model="row.shift_id">
					        	<option value="">Add shift</option>
					        	<option ng-repeat="shift in rotaController.rotaAutofill.shifts" value="{{shift.shift_id}}" ng-bind="shift.shift_name" ng-selected="row.shift_id==shift.shift_id"></option>
					        </select>
					      </div>
					    </div>
					    
							<div class="col-xs-12 form-group">
								<a ng-click="rotaController.addRow()">Add new row</a>
							</div>

					    <div class="col-xs-12 col-sm-6 form-group">
					      <div class="col-xs-12 col-lg-offset-3">
					        <button type="submit" class="btn btn-primary" ng-click="rotaController.add()" ng-if="!rotaController.editmode">Add</button>
					        <button type="submit" class="btn btn-primary" ng-click="rotaController.update(rotaController.rotaDetail.rota_id)" ng-if="rotaController.editmode">Update</button>
					        <button type="reset" class="btn btn-default" ng-click="rotaController.reset()">Cancel</button>
					      </div>
					    </div>
					  </fieldset>
					</form>
				</div>
				<div>
					<form>
					<legend>List of ROTAs</legend>
					<ol class="list-group">
						<li class="list-group-item active">
							<div class="clearfix">
								<span class="col-xs-3">Name</span>
								<span class="col-xs-3">Desciption</span>
								<span class="col-xs-3">Date</span>
								<span class="col-xs-3 text-center">Actions</span>
							</div>
						</li>
						<li class="list-group-item" ng-if="!rotaController.rotas.length">
							<div class="clearfix">
								<span class="col-xs-12 text-center">No record available. Please add from above.</span>
							</div>
						</li>
						<li class="list-group-item" ng-repeat="rota in rotaController.rotas" ng-class="{'list-group-item-warning': rota.selected}">
							<div class="list-group-item-text clearfix">
								<div class="col-xs-3">
									<span ng-bind="rota.rota_name" ng-if="!rota.editmode"></span>
									<input type="text" class="form-control" id="rotaName" placeholder="Rota Name"
				        	ng-model="rota.rota_name" ng-if="rota.editmode"/>
				        </div>
								<div class="col-xs-3">
									<span ng-bind="rota.rota_desc" ng-if="!rota.editmode"></span>
									<textarea class="form-control" rows="1" id="rotaDesc" ng-model="rota.rota_desc" placeholder="Rota Description" ng-if="rota.editmode"></textarea>
								</div>
								<div class="col-xs-3">
									
								</div>
								<div class="col-xs-3 hidden-xs text-center" ng-class="{'col-xs-9 col-xs-offset-3' : rota.editmode}">
									<a class="btn btn-default btn-xs" role="button" ng-click="rota.selected=true" ng-if="!rota.selected">Select</a>
									<a class="btn btn-info btn-xs" role="button" ng-click="rota.selected=false" ng-if="rota.selected">Unselect</a>
									<a class="btn btn-default btn-xs" role="button" ng-click="rotaController.edit($index)" ng-if="!rota.editmode">Edit</a>
									<a class="btn btn-info btn-xs" role="button" ng-click="rotaController.update($index)" ng-if="rota.editmode">Update</a>
									<a class="btn btn-default btn-xs"role="button" ng-click="rotaController.delete($index)">Delete</a>
								</div>
								<div class="col-xs-3 visible-xs btn-group text-center">
									<a class="btn btn-default btn-sm" role="button" ng-click="rota.selected=true" ng-if="!rota.selected">Select</a>
									<a class="btn btn-info btn-sm" role="button" ng-click="rota.selected=false" ng-if="rota.selected">Unselect</a>
								  <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">&nbsp;<span class="caret"></span></a>
								  <ul class="dropdown-menu">
								    <li>
								    	<a ng-click="rotaController.edit($index)" ng-if="!rota.editmode">Edit</a>
								    	<a ng-click="rotaController.update($index)" ng-if="rota.editmode">Update</a>
								    </li>
								    <li><a ng-click="rotaController.delete($index)">Delete</a></li>
								  </ul>
								</div>
							</div>
						</li>
					</ol>
					</form>
				</div>

		  </div>
		  <div class="row well tab-pane fade" id="person"  ng-controller="CreatePerson as createPerson">
				<div>
					<form class="form-horizontal">
					  <fieldset>
					    <legend>Add person</legend>
					    <div class="col-xs-12 col-sm-6 form-group">
					      <label for="inputEmail" class="col-lg-3 control-label">First Name</label>
					      <div class="col-lg-9">
					        <input type="text" class="form-control" id="firstName" placeholder="First Name"
				        	ng-model="createPerson.personDetail.first_name">
					      </div>
					    </div>
							<div class="col-xs-12 col-sm-6 form-group">
					      <label for="inputEmail" class="col-lg-3 control-label">Last Name</label>
					      <div class="col-lg-9">
					        <input type="text" class="form-control" id="lastName" placeholder="Last Name"
					        ng-model="createPerson.personDetail.last_name">
					      </div>
					    </div>
							<div class="col-xs-12 col-sm-6 form-group">
					      <label for="inputEmail" class="col-lg-3 control-label">Email</label>
					      <div class="col-lg-9">
					        <input type="text" class="form-control" id="inputEmail" placeholder="Email"
					        ng-model="createPerson.personDetail.email">
					      </div>
					    </div>
							<div class="col-xs-12 col-sm-6 form-group">
					      <label for="inputEmail" class="col-lg-3 control-label">Phone Number</label>
					      <div class="col-lg-9">
					        <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number"
					        ng-model="createPerson.personDetail.phone">
					      </div>
					    </div>
					    <div class="col-xs-12 col-sm-6 form-group">
					      <div class="col-xs-12 col-lg-offset-3">
					        <button type="submit" class="btn btn-primary" ng-click="createPerson.add()">Add</button>
					        <button type="reset" class="btn btn-default" ng-click="createPerson.reset()">Cancel</button>
					      </div>
					    </div>
					  </fieldset>
					</form>
				</div>
				<div>
					<form>
					<legend>List of people</legend>
					<ol class="list-group">
						<li class="list-group-item active">
							<div class="clearfix">
								<span class="col-xs-3">Name</span>
								<span class="col-xs-3">Email</span>
								<span class="col-xs-3">Mobile</span>
								<span class="col-xs-3 text-center">Actions</span>
							</div>
						</li>
						<li class="list-group-item" ng-if="!createPerson.persons.length">
							<div class="clearfix">
								<span class="col-xs-12 text-center">No record available. Please add from above.</span>
							</div>
						</li>
						<li class="list-group-item" ng-repeat="person in createPerson.persons" ng-class="{'list-group-item-warning': person.selected}">
							<div class="list-group-item-text clearfix">
								<div class="col-xs-3">
									<span ng-bind="person.first_name + ' ' + person.last_name" ng-if="!person.editmode"></span>
									<input type="text" class="form-control" id="firstName" placeholder="First Name"
				        	ng-model="person.first_name" ng-if="person.editmode" />
				        	<input type="text" class="form-control" id="lastName" placeholder="Last Name"
					        ng-model="person.last_name" ng-if="person.editmode" />
								</div>
								<div class="col-xs-3">
									<span ng-bind="person.email" ng-if="!person.editmode"></span>
									<input type="text" class="form-control" id="inputEmail" placeholder="Email"
					        ng-model="person.email" ng-if="person.editmode" />
								</div>
								<div class="col-xs-3">
									<span ng-bind="person.mobile" ng-if="!person.editmode"></span>
									<input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number"
					        ng-model="person.mobile" ng-if="person.editmode" />
								</div>
								
								<div class="col-xs-3 hidden-xs text-center">
									<a class="btn btn-default btn-xs" role="button" ng-click="person.selected=true" ng-if="!person.selected">Select</a>
									<a class="btn btn-info btn-xs" role="button" ng-click="person.selected=false" ng-if="person.selected">Unselect</a>
									<a class="btn btn-default btn-xs" role="button" ng-click="person.editmode=true" ng-if="!person.editmode">Edit</a>
									<a class="btn btn-info btn-xs" role="button" ng-click="createPerson.update($index)" ng-if="person.editmode">Update</a>
									<a class="btn btn-default btn-xs"role="button" ng-click="createPerson.delete($index)">Delete</a>
								</div>
								<div class="col-xs-3 visible-xs btn-group text-center">
									<a class="btn btn-default btn-sm" role="button" ng-click="person.selected=true" ng-if="!person.selected">Select</a>
									<a class="btn btn-info btn-sm" role="button" ng-click="person.selected=false" ng-if="person.selected">Unselect</a>
								  <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">&nbsp;<span class="caret"></span></a>
								  <ul class="dropdown-menu">
								    <li>
								    	<a ng-click="person.editmode=true" ng-if="!person.editmode">Edit</a>
								    	<a ng-click="createPerson.update($index)" ng-if="person.editmode" >Update</a>
								    </li>
								    <li><a ng-click="createPerson.delete($index)">Delete</a></li>
								  </ul>
								</div>
							</div>
						</li>
					</ol>
					</form>
				</div>
			</div>

		  <div class="row well tab-pane fade" id="role"  ng-controller="RoleController as roleCtrl" ng-class="{'active' : roleCtrl.selectedTab}">
		  	<div>
					<form class="form-horizontal">
					  <fieldset>
					    <legend>Add role</legend>
					    <div class="col-xs-12 col-sm-6 form-group">
					      <label for="roleName" class="col-lg-3 control-label">Role Name</label>
					      <div class="col-lg-9">
					        <input type="text" class="form-control" id="roleName" placeholder="e.g - PM, Dev, Arch"
				        	ng-model="roleCtrl.roleDetail.role_name">
					      </div>
					    </div>
							<div class="col-xs-12 col-sm-6 form-group">
					      <label for="roleDescription" class="col-lg-3 control-label">Description</label>
					      <div class="col-lg-9">
					        <textarea class="form-control" rows="1" id="roleDescription" ng-model="roleCtrl.roleDetail.role_desc" placeholder="Role Description"></textarea>

					      </div>
					    </div>
							<div class="col-xs-12 col-sm-6 form-group">
					      <div class="col-xs-12 col-lg-offset-3">
					        <button type="submit" class="btn btn-primary" ng-click="roleCtrl.add()">Add</button>
					        <button type="reset" class="btn btn-default" ng-click="roleCtrl.reset()">Cancel</button>
					      </div>
					    </div>
					  </fieldset>
					</form>
				</div>
				<div>
					<form>
					<legend>List of roles</legend>
					<ol class="list-group">
						<li class="list-group-item active">
							<div class="clearfix">
								<span class="col-xs-4">Role Name</span>
								<span class="col-xs-4">Description</span>
								<span class="col-xs-4 text-center">Actions</span>
							</div>
						</li>
						<li class="list-group-item" ng-if="!roleCtrl.roles.length">
							<div class="clearfix">
								<span class="col-xs-12 text-center">No record available. Please add from above.</span>
							</div>
						</li>
						<li class="list-group-item" ng-repeat="role in roleCtrl.roles" ng-class="{'list-group-item-warning': role.selected}">
							<div class="list-group-item-text clearfix">
								<div class="col-xs-4">
									<span ng-bind="role.role_name" ng-if="!role.editmode"></span>
									<input type="text" class="form-control" id="roleName" placeholder="Role Name"
				        	ng-model="role.role_name" ng-if="role.editmode" />
				        </div>
								<div class="col-xs-4">
									<span ng-bind="role.role_desc" ng-if="!role.editmode"></span>
									<textarea class="form-control" rows="1" id="roleDesc" placeholder="Role Description"
					        ng-model="role.role_desc" ng-if="role.editmode"></textarea> 
								</div>
								<div class="col-xs-4 hidden-xs text-center">
									<a class="btn btn-default btn-xs" role="button" ng-click="role.selected=true" ng-if="!role.selected">Select</a>
									<a class="btn btn-info btn-xs" role="button" ng-click="role.selected=false" ng-if="role.selected">Unselect</a>
									<a class="btn btn-default btn-xs" role="button" ng-click="role.editmode=true" ng-if="!role.editmode">Edit</a>
									<a class="btn btn-info btn-xs" role="button" ng-click="roleCtrl.update($index)" ng-if="role.editmode">Update</a>
									<a class="btn btn-default btn-xs"role="button" ng-click="roleCtrl.delete($index)">Delete</a>
								</div>
								<div class="col-xs-4 visible-xs btn-group text-center">
									<a class="btn btn-default btn-sm" role="button" ng-click="role.selected=true" ng-if="!role.selected">Select</a>
									<a class="btn btn-info btn-sm" role="button" ng-click="role.selected=false" ng-if="role.selected">Unselect</a>
								  <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">&nbsp;<span class="caret"></span></a>
								  <ul class="dropdown-menu">
								    <li>
								    	<a ng-click="role.editmode=true" ng-if="!role.editmode">Edit</a>
								    	<a ng-click="roleCtrl.update($index)" ng-if="role.editmode">Update</a>
								    </li>
								    <li><a ng-click="roleCtrl.delete($index)">Delete</a></li>
								  </ul>
								</div>
							</div>
						</li>
					</ol>
					</form>
				</div>
		  </div>
		   <div class="row well tab-pane fade" id="location"  ng-controller="LocationController as locationCtrl" ng-class="{'active' : locationCtrl.selectedTab}">
        <div>
          <form class="form-horizontal">
            <fieldset>
              <legend>Add location</legend>
              <div class="col-xs-12 col-sm-6 form-group">
                <label for="locationName" class="col-lg-3 control-label">Location Name</label>
                <div class="col-lg-9">
                  <input type="text" class="form-control" id="locationName" placeholder="Location Name"
                  ng-model="locationCtrl.locationDetail.location_name">
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 form-group">
                <label for="locationDesc" class="col-lg-3 control-label">Description</label>
                <div class="col-lg-9">
                  <textarea class="form-control" rows="1" id="locationDescription" ng-model="locationCtrl.locationDetail.location_desc" placeholder="Location Description"></textarea>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 form-group">
                <div class="col-xs-12 col-lg-offset-3">
                  <button type="submit" class="btn btn-primary" ng-click="locationCtrl.add()">Add</button>
                  <button type="reset" class="btn btn-default" ng-click="locationCtrl.reset()">Cancel</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div>
          <form>
          <legend>List of locations</legend>
          <ol class="list-group">
            <li class="list-group-item active">
              <div class="clearfix">
                <span class="col-xs-4">Location Name</span>
                <span class="col-xs-4">Description</span>
                <span class="col-xs-4 text-center">Actions</span>
              </div>
            </li>
            <li class="list-group-item" ng-if="!locationCtrl.locations.length">
              <div class="clearfix">
                <span class="col-xs-12 text-center">No record available. Please add from above.</span>
              </div>
            </li>
            <li class="list-group-item" ng-repeat="location in locationCtrl.locations" ng-class="{'list-group-item-warning': location.selected}">
              <div class="list-group-item-text clearfix">
                <div class="col-xs-4">
                  <span ng-bind="location.location_name" ng-if="!location.editmode"></span>
                  <input type="text" class="form-control" id="locationName" placeholder="Location Name"
                  ng-model="location.location_name" ng-if="location.editmode" />
                </div>
                <div class="col-xs-4">
                  <span ng-bind="location.location_desc" ng-if="!location.editmode"></span>
                  <textarea class="form-control" rows="1" id="locationDesc" placeholder="Location Description"
                  ng-model="location.location_desc" ng-if="location.editmode"></textarea> 
                </div>
                <div class="col-xs-4 hidden-xs text-center">
                  <a class="btn btn-default btn-xs" role="button" ng-click="location.selected=true" ng-if="!location.selected">Select</a>
                  <a class="btn btn-info btn-xs" role="button" ng-click="location.selected=false" ng-if="location.selected">Unselect</a>
                  <a class="btn btn-default btn-xs" role="button" ng-click="location.editmode=true" ng-if="!location.editmode">Edit</a>
                  <a class="btn btn-info btn-xs" role="button" ng-click="locationCtrl.update($index)" ng-if="location.editmode">Update</a>
                  <a class="btn btn-default btn-xs" role="button" ng-click="locationCtrl.delete($index)">Delete</a>
                </div>
                <div class="col-xs-4 visible-xs btn-group text-center">
                  <a class="btn btn-default btn-sm" role="button" ng-click="location.selected=true" ng-if="!location.selected">Select</a>
                  <a class="btn btn-info btn-sm" role="button" ng-click="location.selected=false" ng-if="location.selected">Unselect</a>
                  <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">&nbsp;<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a ng-click="location.editmode=true" ng-if="!location.editmode">Edit</a>
                      <a ng-click="locationCtrl.update($index)" ng-if="location.editmode" >Update</a>
                    </li>
                    <li><a ng-click="locationCtrl.delete($index)">Delete</a></li>
                  </ul>
                </div>
              </div>
            </li>
          </ol>
          </form>
        </div>
      </div>
		 	<div class="row well tab-pane fade" id="shift"  ng-controller="ShiftController as shiftCtrl" ng-class="{'active' : shiftCtrl.selectedTab}">
        <div>
          <form class="form-horizontal">
            <fieldset>
              <legend>Add shift</legend>
              <div class="col-xs-12 col-sm-6 form-group">
                <label for="shiftName" class="col-lg-3 control-label">Shift Name</label>
                <div class="col-lg-9">
                  <input type="text" class="form-control" id="shiftName" placeholder="EBH, BH, LBH"
                  ng-model="shiftCtrl.shiftDetail.shift_name">
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 form-group">
                <label for="shiftDescription" class="col-lg-3 control-label">Description</label>
                <div class="col-lg-9">
                  <textarea class="form-control" rows="1" id="shiftDescription" ng-model="shiftCtrl.shiftDetail.shift_desc" placeholder="Shift Description"></textarea>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 form-group">
                <div class="col-xs-12 col-lg-offset-3">
                  <button type="submit" class="btn btn-primary" ng-click="shiftCtrl.add()">Add</button>
                  <button type="reset" class="btn btn-default" ng-click="shiftCtrl.reset()">Cancel</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div>
          <form>
          <legend>List of shifts</legend>
          <ol class="list-group">
            <li class="list-group-item active">
              <div class="clearfix">
                <span class="col-xs-4">Shift Name</span>
                <span class="col-xs-4">Description</span>
                <span class="col-xs-4 text-center">Actions</span>
              </div>
            </li>
            <li class="list-group-item" ng-if="!shiftCtrl.shifts.length">
              <div class="clearfix">
                <span class="col-xs-12 text-center">No record available. Please add from above.</span>
              </div>
            </li>
            <li class="list-group-item" ng-repeat="shift in shiftCtrl.shifts" ng-class="{'list-group-item-warning': shift.selected}">
              <div class="list-group-item-text clearfix">
                <div class="col-xs-4">
                  <span ng-bind="shift.shift_name" ng-if="!shift.editmode"></span>
                  <input type="text" class="form-control" id="shiftName" placeholder="Shift Name"
                  ng-model="shift.shift_name" ng-if="shift.editmode" />
                </div>
                <div class="col-xs-4">
                  <span ng-bind="shift.shift_desc" ng-if="!shift.editmode"></span>
                  <textarea rows="1" class="form-control" id="shiftDesc" placeholder="Shift Description"
                  ng-model="shift.shift_desc" ng-if="shift.editmode"></textarea> 
                </div>
                <div class="col-xs-4 hidden-xs text-center">
                  <a class="btn btn-default btn-xs" role="button" ng-click="shift.selected=true" ng-if="!shift.selected">Select</a>
                  <a class="btn btn-info btn-xs" role="button" ng-click="shift.selected=false" ng-if="shift.selected">Unselect</a>
                  <a class="btn btn-default btn-xs" role="button" ng-click="shift.editmode=true" ng-if="!shift.editmode">Edit</a>
                  <a class="btn btn-info btn-xs" role="button" ng-click="shiftCtrl.update($index)" ng-if="shift.editmode">Update</a>
                  <a class="btn btn-default btn-xs" role="button" ng-click="shiftCtrl.delete($index)">Delete</a>
                </div>
                <div class="col-xs-4 visible-xs btn-group text-center">
                  <a class="btn btn-default btn-sm" role="button" ng-click="shift.selected=true" ng-if="!shift.selected">Select</a>
                  <a class="btn btn-info btn-sm" role="button" ng-click="shift.selected=false" ng-if="shift.selected">Unselect</a>
                  <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">&nbsp;<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a ng-click="shift.editmode=true" ng-if="!shift.editmode">Edit</a>
                      <a ng-click="shiftCtrl.update($index)" ng-if="shift.editmode" >Update</a>
                    </li>
                    <li><a ng-click="shiftCtrl.delete($index)">Delete</a></li>
                  </ul>
                </div>
              </div>
            </li>
          </ol>
          </form>
        </div>
      </div>
		</div>
	</div>


</div>
<div class="progress">
	<div class="progress-bar progress-bar-success" style="width: 25%"></div>
	<div class="progress-bar progress-bar-warning" style="width: 25%"></div>
	<div class="progress-bar progress-bar-danger" style="width: 25%"></div>
	<div class="progress-bar progress-bar-info" style="width: 25%"></div>
</div>
<footer class="container">
	<div class="row">
		<div class="col-lg-12">
			<p class="pull-right"><a href="#top">Back to top</a></p>
			<!-- <ul class="list-unstyled">
			<li class="pull-right"><a href="#top">Back to top</a></li>
			<li><a href="http://news.bootswatch.com" onclick="pageTracker._link(this.href); return false;">Blog</a></li>
			<li><a href="http://feeds.feedburner.com/bootswatch">RSS</a></li>
			<li><a href="https://twitter.com/bootswatch">Twitter</a></li>
			<li><a href="https://github.com/thomaspark/bootswatch/">GitHub</a></li>
			<li><a href="../help/#api">API</a></li>
			<li><a href="../help/#support">Support</a></li>
		</ul> -->
		<p>Made by <a href="#" rel="nofollow">Ezio Altair</a>. Contact him at <a href="mailto:someone@somewhere.com">someone@somewhere.com</a></p>
		<p>Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.</p>
	</div>
</div>
</footer>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/controllers.js"></script>

</body>
</html>